* {
  font-family: Roboto, sans-serif;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.siteContent {
  flex: 1;
}

#messages {
  list-style-type: none;
  // margin: 0;
  // padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
